<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/8b20537db2.js" crossorigin="anonymous"></script>

</head>
<body>

  <div class="topMenu">
    <div class="titleBox"><h1>Lista de Usuarios</h1></div>


    <div class="searchBar">
      <div class="searchBarInside">
    <input type="text" id="searchInput" placeholder="Buscar por nombre, email o ciudad">
    <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>

             

<div class="button-box">
<button onclick="location.href='add' " class="addUser--button"> <i class="fa-solid fa-plus"></i> Agregar un nuevo usuario</button>
</div>
</div>
 

<section class="userDashboard" id="userContainer">

      <% users.forEach(user => { %>
<article class="userCard">
    <div class="userCard--structure">
      <div class="userCard__division">
      <div class="userCard__miniStructure">
      <h3>Usuario:</h3>
      <div class="userCard__Box">
      <i class="fa-solid fa-user"></i>
      <div class="userCard__TextBox">
        <h4><%= user.name %></h4>
      <p><%= user.username %></p>
    </div>
      </div>
    </div>
    <div class="userCard__miniStructure">
      <h3>Localidad:</h3>
    <div class="userCard__Box">
    <i class="fa-solid fa-location-dot"></i>
    <p><%= user.address.city %></p> 
  </div>
  </div>
    
    </div>
    <div class="userCard__division">
      <div class="userCard__miniStructure">
        <h3>Contacto:</h3>
          <div class="userCard__Box">
          <i class="fa-solid fa-envelope"></i>
          <p><%= user.email  %></p>
          </div>
          <div class="userCard__Box">
          <i class="fa-solid fa-phone"></i>
          <p><%= user.phone %></p>
        </div>
        </div>

    <div class="userCard__miniStructure">
      <h3>Empresa:</h3>
    <div class="userCard__Box">
      <i class="fa-solid fa-building"></i>
      <p><%= user.company.name %></p>
    </div>
    </div>
  </div>
      </div>
    </article>
    <% }) %>
    
</section>

<script src="/js/formHandler.js"></script>
<script src="/js/search.js"></script>


</body>
</html>

